<div class="container">
        <div class="row"> <div class="logo col-lg-12">Welcome to the Employee Record table</div></div>
          
        
        <div class="row register-item">
        <div class="col-sm-6">
        <!-- <div class="form-field">
           <label class="user"><span><u>[1] Please Enter Your Employee ID</u></span></label>
           <input name="name" type="number" onKeyPress="if(this.value.length==6) return false;" class="form-input" placeholder="Name" [(ngModel)]="id " placeholder="id"
           required />
        </div> -->
        <div class="form-field">
           <label class="user" for="register-username"><span>Please Enetr Your Name</span></label>
           <input name="name" id="register-username"   onKeyPress="if(this.value.length==15) return false;" type="text" class="form-input" placeholder="Name"
           [(ngModel)]="name" required />
        </div>
        <div class="form-field">
           <label class="user" for="register-username"><span >Company Joining YEAR</span></label>
           <input name="name" id="register-username"   type="date" class="form-input" [(ngModel)]="year"
           placeholder="dd-mm-yyyy" required>
        </div>
        <div class="form-field">
           <label class="user" for="register-username"><span >Please Eneter Your PHONE Number</span></label>
           <input name="name"id="register-username"  onKeyPress="if(this.value.length==10) return false;" type="number" class="form-input" [(ngModel)]="Phone"
           placeholder="phone" required>
        </div>
        <div class="form-field">
           <label class="user" for="register-username"><span>Please Enter Your Address</span></label>
           <input name="name" id="register-username" type="text" class="form-input" [(ngModel)]="Address"
           placeholder="Address" required>
        </div>
        <div class="form-field">
           <label class="user" for="register-username"><span  > Please Enter Your Salary</span></label>
           <input name="name" id="register-username"  onKeyPress="if(this.value.length==7) return false;" type="number" class="form-input" [(ngModel)]="Salary"
           placeholder="Salary" required>
        </div>
        
        <div   class="form-field">
           <label class="user" for="register-username"><span > Please Click Your Action</span></label> 
           
              <button type="button" style="margin-right:10px; "  name="button"    class="btn btn-success  btn-sm" (click)="buttonClicked()" [disabled]="id === ''">Submit</button>
              <button type="button" class="btn btn-warning btn-sm" (click)="reset()">Reset</button>
           
           
        </div>
        <div class="form-field">
         <label class="user" for="register-username"><span  >Please upload Your Picture</span></label>   
         <input
         style="display: none"
         type="file" (change)="onFileChanged($event)"
         #fileInput>
         <button class="btn btn-primary btn-sm"  style="margin-right:10px; "  (click)="fileInput.click()">Select File</button>
         <button class="btn btn-primary btn-sm" (click)="onUpload()">Upload!</button>
      </div>
        
      </div>
        
        <div class="col-md-6">
            <input type="text" class="form-control"  type="text"  name="search" [(ngModel)]="searchText" autocomplete="off" (input)="filterData()" placeholder="&#61442;  Start searching for a employee by  name "><br>
            <table style="text-align: center;" class="table table-responsive table-striped">
         <!-- <input type="text" class="form-control"  type="text"  name="search" [(ngModel)]="searchText" autocomplete="off" (input)="filterData()" placeholder="&#61442;  Start searching for a employee by  name "><br>
           <table style="text-align: center;" class="table table-responsive table-striped"> -->
              <tr style="text-align: center;" >
                 <!-- <th th scope="row" class="thwidth">id</th> -->
                 <th th scope="row" class="thwidth">name</th>
                 <th th scope="row" class="thwidth">year</th>
                 <th th scope="row" class="thwidth">Phone</th>
                 <th th scope="row" class="thwidth">Address</th>
                 <th th scope="row" class="thwidth">Salary</th>
                 <th th scope="row" class="thwidth">Action1</th>
                 <th th scope="row" class="thwidth">Action2</th>
              </tr>
              <tr *ngFor="let row of rows| paginate: config" >
                 <!-- <td>{{row.id}}</td> -->
                 <td>{{row.name}}</td>
                 <td>{{row.year|date:'dd.MM.yyyy'}}</td>
                 <td>{{row.Phone}}</td>
                 <td>{{row.Address}}</td>
                 <td> {{row.Salary| currency:"&#8377;"}}</td>
                 <td><button class="btn btn-outline-danger" (click)="buttondelete()"> delete</button></td>
                 <td><button class="btn btn-outline-info" (click)="edit(row)"> edit</button></td>
              </tr>
           </table>
           <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
           
        </div>
        </div>