<h1 style="text-align: center;">"Welcome to the Record table"</h1>
<div col-sm-6 style ="text-align: center;">
 <input type="number" [(ngModel)]="id" placeholder="id" required />
 <input type="text" [(ngModel)]="name" placeholder="name" required /><br><br>
 <input type="number" [(ngModel)]="year" placeholder="year" required />
 <input type="number" [(ngModel)]="Phone" placeholder="phone" required /><br><br>
 <input type="text" [(ngModel)]="Address" placeholder="Address" required />
 <button (click)="buttonClicked()">Submit</button>
 <button (click)="reset()">Reset</button>
 </div>
 <hr />

 
<div style="text-align: center;" class="table table-striped table-bordered">
  
    <table style="text-align: center;" width="300" class="table table-responsive table-striped">
          
        <tr style="text-align: center;">
            <th>id</th>
            <th>name</th>
            <th>year</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <!-- <tr *ngFor="let field of fieldArray; let i = index">
                    <td>
                        <input [(ngModel)]="field.code" class="form-control" type="text" name="{{field.id}}" />
                    </td>
                    <td>
                        <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" />
                    </td>
                    <td>
                        <input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.year}}" />
                    </td>
                    <td>
                        <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                    </td>
                </tr> -->


        <tr *ngFor="let row of rows;let i = index">
            <td >{{row.id}}</td>
            <td>{{row.name}}</td>
            <td>{{row.year}}</td>
            <td>{{row.Phone}}</td>
            <td>{{row.Address}}</td>
            <td><button (click)="buttondelete()" style="
                    width: 47px;
                "> delete</button></td>
                 <td><button (click)="edit(row)" style="
                    width: 47px;
                "> edit</button></td>
        </tr>
    </table>
    <div>

        <hr />
       